body {
    background-color: #f5f5f5;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.kalyka-malyaka {
    width: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1em;
    margin-bottom: 1em;
}

ul {
    list-style: none;
    padding: 0;
}

ul ul {
    margin-left: 20px;
    list-style: disc;
}

#food-list {
    margin-top: 20px;
    text-align: left;
}

@media (max-width: 768px) {
    body {
        background-color: #d1f7c4;
    }
}
